<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number of click</title>
</head>
<style>

table,th,td{

    border:1px ;
    /* border-collapse:collapse; */
    border-style:groove;
    border-color: rgb(8, 20, 131);
}

    table{

width:100%;
text-align: center;




    }
</style>
<body style="align-items:center">
    <h1 style="animation: alternate-reverse;">Total Number of click by User</h1>
    <table>
            

        <tr>

            <th style="width:5%">S.No</th>
            <th style="width:max-content">URL</th>
            <th style="width:max-content">Short-URL</th>
            <th style="width:max-content">Number Of click</th>
        </tr>


        <tr>

                <td>1</td>
                <td>https://chatgpt.com/</td>
                <td>oW_8i8iX</td>
                <td>5</td>












































































        </tr>
    </table>
    




</body>
</html>